.App {
  background-image: url("../images/R.png") !important;
  width: 100vw !important;
  height:100vh !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.text-none{
  text-decoration: none;
}
.hover-Sidebar{
  background-color:gainsboro;
  color:black !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-gainsboro
{
  background-color:gainsboro;
}
.transparent-bg {
  background-color: transparent !important;
  border: none !important;
}
::-webkit-scrollbar {
  display: none;
}
